.container {
  display: flex;
  width: 30%;
  max-width: 500px;
  margin-top: 5%;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  padding-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;

  @media (max-width: 768px) {
    padding: 20px;
    width: 50%;
  }
}

div {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.login-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;

  &:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
}

.snackBar {
  margin: 0 !important;
  position: absolute;
  right: 0;
  top: 60px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0 40px;
  align-items: center;
  justify-content: center;
}

.example-radio-button {
  margin: 5px;
}

mat-error {
  color: red;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0px;

  & > *:not(:last-child) {
    margin-right: 40px;
  }
}